/* General styles for the body */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background-color: #f8f9fa;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    background-color: #343a40;
    color: white;
    border-radius: 5px;
}

.title h1 {
    margin: 0;
}

.groupMembers ul {
    list-style-type: none;
    padding: 0;
}

.groupMembers ul li {
    display: inline;
    margin-left: 10px;
}

.groupMembers ul li a {
    color: white;
    text-decoration: none;
}

/* Container and form styles */
.container {
    margin-top: 20px;
    width:75%;
    margin-left:auto;
    margin-right:auto;
}

form {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for input groups */
.input-group {
    margin-bottom: 15px;
    margin-right:15px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Button styles */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.spinner {
    margin-top: 20px;
    margin-bottom: 20px; /* Ensures space between the spinner and text */
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 20px;
}
