<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Portfolio Optimizer</title>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <header>
        <div class="title">
            <h1>Portfolio Optimizer</h1>
        </div>
        <div class="groupMembers">
            <ul>
                <li><a href="https://www.linkedin.com/in/evan-lapid/">Evan Lapid</a></li>
                <li><a href="https://www.linkedin.com/in/josh-leeds/">Josh Leeds</a></li>
                <li><a href="https://www.linkedin.com/in/thomasyousef21/">Thomas Yousef</a></li>
                <li><a href="https://www.linkedin.com/in/jaden-hsiao/">Jaden Hsiao</a></li>
                <li><a href="https://www.linkedin.com/in/timmccorry/">Tim McCorry</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <!-- Display error message -->
        {% if error_message %}
        <div class="alert">
            <p>{{ error_message }}</p>
        </div>
        {% endif %}

        <form action="/submit" method="POST" autocomplete="off">
            <div class="input-container">
                {% for ticker, price in ticker_price_pairs %}
                <div class="input-group">
                    <label for="tickers">Stock Ticker:</label><br>
                    <input type="text" name="tickers" value="{{ ticker }}" required autocomplete="off"><br><br>
                    <label for="prices">Dollar Amount Invested (USD):</label><br>
                    <input type="text" name="prices" value="{{ price }}" autocomplete="off"><br><br>
                </div>
                {% endfor %}
        
                {% if ticker_price_pairs|length == 0 %}
                <!-- Add one empty input group if no data -->
                <div class="input-group">
                    <label for="tickers">Stock Ticker:</label><br>
                    <input type="text" name="tickers" required autocomplete="off"><br><br>
                    <label for="prices">Dollar Amount Invested (USD):</label><br>
                    <input type="text" name="prices" autocomplete="off"><br><br>
                </div>
                {% endif %}
            </div>
            <button type="button" onclick="addInputFields()">Add More</button><br><br>
            <input type="submit" value="Submit">
        </form>        
    </div>
    <div id="loading-screen" style="display: none;">
        <div class="loading-content">
            <p>Loading, please wait...</p>
            <div class="spinner"></div>
        </div>
    </div>
</body>
</html>
